*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grow-2 {
    flex-grow: 2;
}

.grow-4 {
    flex-grow: 4;
}

.bg-header {
    background-color: #F9D992;
}

.bg-aside {
    background-color: #F6EDD9;
}

.bg-button {
    background-color: #5B902D;
}

.text-color {
    color: #5B902D;
}

.text-orange {
    color: #FA5F54;
}

.border-input {
    border-color: #5B902D;
}

.border-input::placeholder {
    border-color: #5B902D;
}
